{% extends "base.html" %}
{% load static %}

{% block title %}로그인{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'webapp/css/about.css' %}">

{% endblock %}

{% block content %}

<div class="sections-container">
  <!-- ▶ Hero Section -->
  <section class="section hero">
    <div class="hero-content">
      <h1>에스피개발 주식회사</h1>
      <p class="subtitle" style="font-style: italic;">Special Partner.</p>
    </div>
  </section>
</div>

<section class="section-content">
  <div class="container form-wrap">
    <h1 class="section-title">로그인</h1>
    <form method="post" class="form">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">로그인</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}
