
{% extends "base.html" %}
{% load static %}
{% block title %}Index{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'mapapp/css/info_table.css' %}">
<link rel="stylesheet" href="{% static 'mapapp/css/index.css' %}">
{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="https://map.vworld.kr/js/webglMapInit.js.do?version=3.0&apiKey={{ VWORLD_API_KEY }}"></script>
<!--<script type="text/javascript" src="https://map.vworld.kr/js/vworldMapInit.js.do?version=2.0&apiKey={{ VWORLD_API_KEY }}"></script>
-->
{% endblock %}

{% block content %}
<div class="mapallcontainer">
    <div class="map-info-container">
    <div class="left-column-container">
        <div id="map3d" style="width:90%; height:80vh;"></div>
        <button id="unselectall">모두 해제</button>
    </div>
    <div class="right-column-container">
        <div id="info">
            <table id="info-table">
                <thead>
                <tr>
                    <th>지적구역명</th>
                    <th>지번</th>
                    <th>지형고도코드명</th>
                    <th>기준연도</th>
                    <th>지목명</th>
                    <th>도로접도구분명</th>
                    <th>개별공시지가(₩/㎡)</th>
                    <th>용도지역1명</th>
                    <th>용도지역2명</th>
                    <th>토지이용상황명</th>
                    <th>최종갱신일자</th>
                    <th>등록구분명</th>
                    <th>지번면적(㎡)</th>
                    <th>지형형상코드명</th>
                </tr>
                </thead>
                <tbody>
                <!-- rows will be appended here -->
                </tbody>
            </table>
        </div>
        <button id="export-csv">엑셀 파일 내보내기</button>
    </div>
  
  
</div>
</div>
  
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>

<script>
    const VWORLD_KEY = encodeURIComponent("{{ VWORLD_API_KEY }}");
  </script>


  <script defer src="{% static 'mapapp/js/map3d_init.js' %}"></script>
{% endblock %}